<div class="container">
  <div class="row">
<table class="table table-striped table-bordered table-cls responsive">
  <thead class="table-header">
  <tr>
    <th scope="col"> Comments</th>
    <th scope="col">Vote Count</th>
    <th scope="col">Up Vote</th>
    <th scope="col">News Details</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let story of stories" [hidden]="story.flag">
    <th >{{ story.num_comments }}</th>
    <td >
      {{ story.points }}
    </td>
    <td><i class="fa fa-sort-asc up-arrow" (click)="upVote(story.objectID,story.points,'false','vote')"></i>      </td>
    <td scope="col-6">"{{ story.title }} (<a  [attr.href]="'//'+story.url" target="_blank" rel="noopener noreferrer" [title]="story.url"><span class="font-cls">{{story.url}}</span></a>) <span class="font-cls">by <b>{{story.author}}</b> &nbsp;{{story.time}} [ <b><a style="cursor:pointer" (click)="upVote(story.objectID,story.points,story.flag,'hide')">hide</a></b> </span>]</td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination size="sm" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="getPage($event)">
  
    <ng-template ngbPaginationPrevious>Prev</ng-template>
    <ng-template ngbPaginationNext>Next</ng-template> 
    <ng-template NgbPaginationNumberContext >{{page}}</ng-template>
</ngb-pagination>


</div>
</div>
</div>
<div class="container">

<div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
</div>

</div>