.table-cls{
    border: 5px solid black;
}
.table-header{
    color: #f3eceb;
    background-color: #e8702a;
}
.font-cls{
font-size:12px
}
.up-arrow {
    cursor: pointer;
    opacity: .5;
}
.text-center{
    text-align: center;
}